html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
span,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

q:before,
q:after {
    content: '';
    content: none;
}

img {
    vertical-align: bottom;
    width: 100%;
    pointer-events: none;
    ;
}

a {
    font-size: 100%;
    color: #000;
    vertical-align: baseline;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    background: transparent;
}


/* change colours to suit your needs */

ins {
    color: #000;
    text-decoration: none;
    background-color: #ff9;
}


/* change colours to suit your needs */

mark {
    font-weight: bold;
    font-style: italic;
    color: #000;
    background-color: #ff9;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    cursor: help;
    border-bottom: 1px dotted;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}


/* change border colour to suit your needs */

hr {
    height: 1px;
    margin: 1em 0;
    padding: 0;
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
}

input,
select {
    vertical-align: middle;
}

::-moz-selection {
    color: white;
    background: #82c7d6;
}

::selection {
    color: white;
    background: #82c7d6;
}

.hidden {
    overflow: hidden;
}

.comp {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 100;
    pointer-events: none;
    opacity: .4;
}

html {
    font-size: 62.5%;
    color: #000;
}

@mixin arw($w, $h, $p, $c) {
    position: absolute;
    width: $w;
    height: $h;
    border-top: $p solid $c;
    border-right: $p solid $c;
}

@mixin parent {
    position: relative;
    width: 100%;
}

@mixin center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

$txtWhite: #fff;
$txtBlack: #000;
body {
    font-family: 'Archivo Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    position: relative;
    box-sizing: border-box;
    -webkit-transition: all .4s;
    transition: all .4s;
    &.is-moving {
        opacity: .6;
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #fff;
    z-index: 100;
    .load-wrap {
        width: 300px;
        height: 440px;
        position: absolute;
        top:0; 
        left:0; 
        right:0; 
        bottom:0; 
        margin:auto; 
        display:block;
        .img {
            margin: 0 auto 20px;
            width: 200px;
        }
        small {
            display: block;
            letter-spacing: 0.8px;
            font-weight: 800;
            color: #1b2a41;
            font-size: 1.2rem;
        }
        .tit {
            color: #1b2a41;
            font-weight: bold;
            font-size: 1.6rem;
            margin-bottom: 12px;
            letter-spacing: 1.4px;
        }
        .special {
            font-size: 1.6rem;
            color: #1b2a41;
            font-weight: bold;
            letter-spacing: 0.8px;
        }
        .bar-wrap {
            width: 200px;
            height: 1px;
            margin: 44px auto 0;
            .progress-bar {
                width: 0;
                background: #1b2a41;
                height: 1px;
            }
        }
    }
}

#container {
    @include parent;
    min-width: 940px;
    header {
        margin-bottom: 26px;
        @include parent;
        .bms-logo {
            position: absolute;
            top: 24px;
            left: 24px;
            width: 78px;
        }
        .main-tit {
            text-align: center;
            width: 424px;
            margin: 0 auto 20px;
            padding-top: 70px;
        }
        .home {
            font-size: 1.2rem;
            color: #fff;
            text-align: center;
            letter-spacing: 1.6px;
            position: absolute;
            top: 0;
            right: 0;
            width: 136px;
            height: 44px;
            padding-top: 15px;
            background: #1b2a41;
            box-sizing: border-box;
        }
    }
    #main-img {
        position: relative;
        width: 100%;
        max-width: 1280px;
        height: 100%;
        margin: 0 auto;
        .badge {
            position: absolute;
            top: -10px;
            left: 50px;
            z-index: 10;
            width: 104px;
        }
        #slider {
            position: relative;
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
            &:before {
                width: 100%;
                padding-top: 44%;
                display: block;
                content: '';
            }
            .tit-wrap {
                text-align: center;
                z-index: 10;
                height: 170px;
                pointer-events: none;
                @include center;
                .cat-tit {
                    font-size: 11rem;
                    line-height: 1;
                    color: $txtWhite;
                    letter-spacing: 4px;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    margin-bottom: 10px;
                    opacity: 0;
                    -webkit-transform: translate3d(0, 14px, 0);
                    transform: translate3d(0, 14px, 0);
                    -webkit-transition: all .6s ease;
                    transition: all .6s ease;
                    -webkit-transition-delay: .3s;
                    transition-delay: .3s;
                    &.is-in {
                        opacity: 1;
                        -webkit-transform: translate3d(0, 0, 0);
                        transform: translate3d(0, 0, 0);
                    }
                }
                .place01 {
                    font-size: 2rem;
                    color: $txtWhite;
                    text-align: center;
                    letter-spacing: 2.6px;
                    position: absolute;
                    width: 100%;
                    opacity: 0;
                    -webkit-transform: translate3d(0, 14px, 0);
                    transform: translate3d(0, 14px, 0);
                    -webkit-transition: all .6s ease;
                    transition: all .6s ease;
                    -webkit-transition-delay: .4s;
                    transition-delay: .4s;
                    top: 120px;
                    &.is-in {
                        opacity: 1;
                        -webkit-transform: translate3d(0, 0, 0);
                        transform: translate3d(0, 0, 0);
                    }
                }
                .place02 {
                    font-size: 2.2rem;
                    color: $txtWhite;
                    text-align: center;
                    letter-spacing: 3.4px;
                    position: absolute;
                    width: 100%;
                    opacity: 0;
                    top: 145px;
                    -webkit-transform: translate3d(0, 14px, 0);
                    transform: translate3d(0, 14px, 0);
                    -webkit-transition: all .6s ease;
                    transition: all .6s ease;
                    -webkit-transition-delay: .5s;
                    transition-delay: .5s;
                    &.jp {
                        font-size: 1.6rem;
                    }
                    &.is-in {
                        opacity: 1;
                        -webkit-transform: translate3d(0, 0, 0);
                        transform: translate3d(0, 0, 0);
                    }
                }
            }
            .slide-wrap {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                .slide {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    .slide-img {
                        display: none;
                        pointer-events: visible;
                    }
                }
            }
            .prev {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 80px;
                height: 120px;
                margin: auto;
                cursor: pointer;
                -webkit-transition: all .8s;
                transition: all .8s;
                &:before {
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    display: block;
                    content: '';
                    -webkit-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                    @include arw(28px, 28px, 2px, #fff);
                }
                &:hover {
                    opacity: .4;
                }
            }
            .next {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 80px;
                height: 120px;
                margin: auto;
                cursor: pointer;
                -webkit-transition: all .8s;
                transition: all .8s;
                &:before {
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    display: block;
                    content: '';
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    @include arw(28px, 28px, 2px, #fff);
                }
                &:hover {
                    opacity: .4;
                }
            }
            .indi-wrap {
                position: absolute;
                bottom: 10px;
                left: 10px;
                width: 470px;
                height: 40px;
                .indi-btn {
                    position: relative;
                    width: 70px;
                    height: 40px;
                    margin: 0 2px;
                    float: left;
                    img {
                        position: relative;
                        -webkit-transition: all .8s;
                        transition: all .8s;
                    }
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        width: 100%;
                        height: 100%;
                        content: '';
                        opacity: 0;
                        border: 1px solid #fff;
                        box-sizing: border-box;
                        -webkit-transition: all .8s;
                        transition: all .8s;
                    }
                    &:hover:before,
                    &.is-current:before {
                        opacity: 1;
                    }
                }
                .bar {
                    width: 1px;
                    height: 40px;
                    margin: 0 4px;
                    float: left;
                    background: #fff;
                }
            }
        }
        .book-anchor {
            position: absolute;
            right: 147px;
            bottom: -56px;
            margin-right: 0;
        }
    }
    .lead-wrap {
        text-align: center;
        margin: 52px auto 46px auto;
        .lead {
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: .8px;
            margin-bottom: 20px;
        }
        .lead-txt {
            font-size: 1.3rem;
            letter-spacing: .8px;
        }
    }
    .index-wrap {
        margin-bottom: 102px;
        .index {
            font-size: 1.8rem;
            text-align: center;
            margin-bottom: 20px;
        }
        .anchor-wrap {
            width: 832px;
            margin: 0 auto 23px;
            overflow: hidden;
            .anchor {
                position: relative;
                width: 264px;
                height: 120px;
                margin-right: 20px;
                float: left;
                overflow: hidden;
                background: #000;
                &:last-child {
                    margin-right: 0;
                }
                .cat-name {
                    font-size: 2.4rem;
                    font-weight: bold;
                    color: $txtWhite;
                    text-align: center;
                    letter-spacing: 1.4px;
                    position: relative;
                    z-index: 10;
                    margin-top: 20px;
                    margin-top: 34px;
                }
                .cap-jp {
                    font-size: 1.1rem;
                    color: $txtWhite;
                    text-align: center;
                    letter-spacing: 1.4px;
                    position: relative;
                    z-index: 10;
                    margin-bottom: 10px;
                }
                .arw {
                    position: relative;
                    z-index: 10;
                    width: 20px;
                    height: 20px;
                    margin: 0 auto;
                    &:before {
                        content: '';
                        -webkit-transform: rotate(135deg);
                        transform: rotate(135deg);
                        @include arw(10px, 10px, 1px, #fff);
                    }
                }
                img {
                    position: absolute;
                    top: 0;
                    z-index: 0;
                    -webkit-transition: all 1s;
                    transition: all 1s;
                    -webkit-transform-origin: center;
                    transform-origin: center;
                }
                &:hover img {
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
        .ps {
            font-size: 1.1rem;
            color: #999;
            text-align: center;
            letter-spacing: .4px;
        }
    }
    #contents {
        @include parent;
        @mixin bar {
            width: 100%;
            height: 4px;
            margin-bottom: 20px;
            content: '';
        }
        article {
            margin-bottom: 134px;
        }
        .rt {
            top: 10px;
            right: -10px;
        }
        .rb {
            right: -10px;
            bottom: 10px;
        }
        .lt {
            top: 10px;
            left: -10px;
        }
        .lb {
            bottom: 10px;
            left: -10px;
        }
        .main-bnr {
            position: relative;
            width: 92%;
            max-width: 1200px;
            margin: 0 auto 70px;
            .sub-jp {
                position: absolute;
                top: 30px;
                right: 30px;
                z-index: 10;
                width: 50px;
            }
            .txt-wrap {
                text-align: center;
                z-index: 10;
                @include center;
            }
            .main-tit {
                font-size: 10.6rem;
                color: $txtWhite;
                letter-spacing: 5.2px;
            }
            .en-lead {
                font-size: 1.4rem;
                font-style: italic;
                line-height: 1.2;
                color: $txtWhite;
                letter-spacing: .8px;
                margin-bottom: 20px;
            }
            .jp-lead {
                font-size: 1.6rem;
                color: $txtWhite;
                letter-spacing: 2.9px;
                font-weight: 500;
            }
            .bnr-img {
                position: relative;
                max-width: 1200px;
                overflow: hidden;
                &:before {
                    padding-top: 38%;
                    display: block;
                    content: '';
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }
        .story-wrap {
            position: relative;
            width: 960px;
            margin: 0 auto;
            .story01,
            .story02,
            .story03,
            .story04 {
                position: relative;
                .pic.fade {
                    position: absolute;
                    opacity: 1;
                    -webkit-transition: all 1.8s ease;
                    transition: all 1.8s ease;
                    &.is-btm {
                        opacity: 0;
                    }
                    &.is-btm img {
                        -webkit-transform: translate3d(0, 30px, 0) scale(1.1);
                        transform: translate3d(0, 30px, 0) scale(1.1);
                    }
                    img {
                        -webkit-transition: all 1.8s ease;
                        transition: all 1.8s ease;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
                .copy {
                    position: absolute;
                    -webkit-transition: all 1.8s ease;
                    transition: all 1.8s ease;
                }
                .txt {
                    font-size: 1.2rem;
                    line-height: 1.84;
                    text-align: justify;
                    letter-spacing: .2px;
                    position: absolute;
                    opacity: 1;
                    -webkit-transition: all 1.8s ease;
                    transition: all 1.8s ease;
                }
                .sub-copy {
                    font-size: 1.2rem;
                    position: absolute;
                    z-index: 10;
                    padding: 4px 8px;
                    border: 2px solid #333;
                    background: #fff;
                    box-sizing: border-box;
                    -webkit-transition: all 1.8s ease;
                    transition: all 1.8s ease;
                }
                .txt-area {
                    position: absolute;
                    width: 280px;
                    -webkit-transition: all 1.8s ease;
                    transition: all 1.8s ease;
                    .copy {
                        position: relative;
                    }
                    .txt {
                        position: relative;
                        margin-top: 26px;
                        margin-bottom: 22px;
                    }
                    .factory {
                        position: relative;
                        &:before {
                            margin-bottom: 24px;
                            display: block;
                            @include bar;
                        }
                        .fac-name {
                            font-size: 1.2rem;
                            font-weight: bold;
                            letter-spacing: 1.2px;
                            margin-bottom: 10px;
                        }
                        .bio {
                            font-size: 1.1rem;
                            line-height: 1.7;
                            text-align: justify;
                        }
                    }
                }
                .copy.fade.is-btm,
                .txt.fade.is-btm,
                .subcopy.fade.is-btm,
                .txt-area.fade.is-btm {
                    opacity: .2;
                }
            }
        }
        #food-cont {
            position: relative;
            .main-bnr {
                .txt-wrap {
                    height: 200px;
                }
            }
            .story01 {
                height: 620px;
                .pic01 {
                    top: 10px;
                    left: 40px;
                }
                .pic02 {
                    top: 10px;
                    right: 44px;
                }
                .pic03 {
                    top: 250px;
                    right: 132px;
                    width: 296px;
                }
                h4.copy {
                    top: 48px;
                    right: 260px;
                    width: 176px;
                }
                .txt {
                    top: 304px;
                    left: 40px;
                    width: 350px;
                }
            }
            .story02 {
                height: 694px;
                .pic01 {
                    top: -28px;
                    left: 10px;
                }
                .pic02 {
                    top: 79px;
                    right: 162px;
                }
                .pic03 {
                    top: 296px;
                    left: 92px;
                }
                .pic04 {
                    right: 232px;
                    bottom: 0;
                }
                h4.copy {
                    top: 70px;
                    right: 50px;
                }
                .txt {
                    top: 295px;
                    right: 160px;
                    width: 340px;
                }
            }
            .story03 {
                height: 396px;
                .pic01 {
                    top: 53px;
                    right: 124px;
                }
                .txt-area {
                    top: -22px;
                    left: 42px;
                    h4.copy {
                        top: 0;
                        left: 0;
                        width: 172px;
                    }
                    .factory {
                        position: relative;
                        &:before {
                            background: url('../img/bar01.jpg') 0 0 repeat;
                        }
                    }
                }
            }
        }
        #shltr-cont {
            .main-bnr {
                .txt-wrap {
                    height: 160px;
                }
            }
            .story01 {
                height: 510px;
                .pic01 {
                    top: 0;
                    left: 70px;
                }
                .pic02 {
                    top: 230px;
                    left: 125px;
                }
                .pic03 {
                    top: 28px;
                    right: 102px;
                }
                h4.copy {
                    top: 0;
                    right: 18px;
                }
                .txt {
                    right: 102px;
                    bottom: 0;
                    width: 470px;
                }
            }
            .story02 {
                height: 684px;
                .pic01 {
                    top: 116px;
                    right: 36px;
                }
                .pic02 {
                    top: 422px;
                    left: 124px;
                    ;
                }
                .pic03 {
                    top: 474px;
                    left: 450px;
                    ;
                }
                .pic04 {
                    right: 0;
                    bottom: 0;
                }
                h4.copy {
                    top: 116px;
                    left: 69px;
                    width: 310px;
                }
                .txt {
                    top: 160px;
                    left: 70px;
                    width: 320px;
                }
            }
            .story03 {
                height: 754px;
                .pic01 {
                    top: 74px;
                    left: 0;
                }
                .pic02 {
                    top: 454px;
                    left: 84px;
                }
                .pic03 {
                    top: 520px;
                    left: 348px;
                    ;
                }
                .txt-area {
                    top: 50px;
                    right: 100px;
                    h4.copy {
                        width: 238px;
                        margin-left: -2px;
                    }
                    .factory {
                        position: relative;
                        &:before {
                            background: url('../img/bar02.jpg') 0 0 repeat;
                        }
                    }
                }
            }
        }
        #clth-cont {
            .main-bnr {
                .txt-wrap {
                    height: 164px;
                }
            }
            .story01 {
                height: 482px;
                .pic01 {
                    top: 14px;
                    right: 116px;
                }
                .pic02 {
                    bottom: 0;
                    left: 30px;
                }
                .pic03 {
                    right: 270px;
                    bottom: 13px;
                }
                h4.copy {
                    top: 12px;
                    left: 29px;
                    width: 286px;
                }
                .txt {
                    top: 54px;
                    left: 30px;
                    width: 300px;
                }
            }
            .story02 {
                height: 534px;
                .pic01 {
                    top: 100px;
                    left: 0;
                }
                .pic02 {
                    bottom: 20px;
                    left: 158px;
                    ;
                }
                .pic03 {
                    bottom: 0;
                    left: 560px;
                    ;
                }
                .pic04 {
                    right: 0;
                    bottom: 20px;
                }
                h4.copy {
                    top: 70px;
                    left: 560px;
                    width: 276px;
                }
                .txt {
                    top: 104px;
                    left: 560px;
                    width: 360px;
                }
            }
            .story03 {
                height: 476px;
                .pic01 {
                    top: 96px;
                    right: 40px;
                }
                .txt-area {
                    top: 70px;
                    left: 90px;
                    h4.copy {
                        top: 10px;
                        left: 0;
                        width: 244px;
                    }
                    .factory {
                        position: relative;
                        &:before {
                            background: url('../img/bar03.jpg') 0 0 repeat;
                        }
                    }
                }
            }
        }
        .share {
            text-align: center;
            width: 88px;
            margin: 0 auto;
            overflow: hidden;
            p {
                font-size: 1.6rem;
                font-weight: bold;
                letter-spacing: 1.2px;
                margin-bottom: 12px;
            }
            .fb {
                width: 34px;
                margin-right: 14px;
                float: left;
            }
            .tw {
                width: 34px;
                float: left;
            }
        }
    }
    #book-intro {
        position: relative;
        margin-top: 40px;
        overflow: hidden;
        background: #4dbbd2;
        ul.photo {
            width: calc(100% - 34px);
            margin: 0 auto 80px;
            padding-top: 16px;
            overflow: hidden;
            li {
                width: 16.65%;
                float: left;
                list-style: none;
            }
        }
        .intro-wrap {
            position: relative;
            width: 716px;
            margin: 0 auto 100px;
            overflow: hidden;
            .book {
                margin-left: 79px;
                float: left;
            }
            .txt-wrap {
                margin: 56px auto 0 50px;
                float: left;
                .sale {
                    font-size: 1.6rem;
                    letter-spacing: 1.2px;
                    margin-bottom: 14px;
                    display: block;
                }
                small {
                    font-size: 1.5rem;
                    font-weight: bold;
                    display: block;
                }
                .tit {
                    font-size: 2rem;
                    font-weight: bold;
                    letter-spacing: 1.2px;
                    margin-bottom: 10px;
                }
                .etc {
                    font-size: 1.1rem;
                    line-height: 1.6;
                    letter-spacing: .4px;
                    margin-bottom: 30px;
                }
                .online {
                    font-size: 1.4rem;
                    color: #fff;
                    text-align: center;
                    letter-spacing: 1.2px;
                    position: relative;
                    width: 170px;
                    padding: 16px;
                    background: #1b2a41;
                    &:before {
                        position: absolute;
                        top: 20px;
                        right: 36px;
                        width: 13px;
                        height: 9px;
                        content: '';
                        background: url('../img/blank.svg') 0 0 no-repeat;
                    }
                }
            }
            .book-badge {
                position: absolute;
                top: 24px;
                right: 0;
            }
        }
        .copy {
            font-size: 1.1rem;
            color: #1b2a41;
            letter-spacing: 1.2px;
            position: absolute;
            bottom: 30px;
            left: 30px;
            font-weight: 800;
        }
    }
    .to-top {
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 40px;
        height: 40px;
        opacity: 0;
        -webkit-transition: all .4s;
        transition: all .4s;
        &.is-in {
            opacity: 1;
        }
        &:before {
            position: absolute;
            top: 18px;
            left: 14px;
            content: '';
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: center;
            transform-origin: center;
            @include arw(12px,
            12px,
            1px,
            #333);
        }
    }
    .fb,
    .tw,
    .online {
        -webkit-transition: all .4s;
        transition: all .4s;
        &:hover {
            opacity: .6;
        }
    }
}